.wysiwyg-toolbar {
    border-radius: 10px;
}
.wysiwyg-wrapper {
    border: 1px solid rgb(231, 221, 221);
    padding: 1rem;
    border-radius: 4px;
}
.wysiwyg-editor {
    background-color:rgb(239, 222, 222);
    border-radius: 10px;
    padding: 1rem;
}

.wysiwyg-wrapper .rdw-emoji-modal {
    position: inherit;
}