{
  "root": true,
  "parser": "@typescript-eslint/parser",
  "plugins": ["@typescript-eslint", "prettier", "jest", "jest-extended"],
  "extends": [
    "eslint:recommended",
    "plugin:@typescript-eslint/recommended",
    "prettier"
  ],
  "rules": {
    "no-console": "off",
    "prettier/prettier": 2,
    "@typescript-eslint/no-unused-vars": "off",
    "@typescript-eslint/no-inferrable-types": "off",
    "@typescript-eslint/ban-ts-comment": "off",
    "jest-extended/prefer-to-be-true": "warn",
    "jest-extended/prefer-to-be-false": "error",
    "jest/valid-expect": [
      "error",
      {
        "maxArgs": 2
      }
    ]
  },
  "env": {
    "browser": true,
    "node": true,
    "jest/globals": true
  }
}
